/*
Folha de estilo site one page HtML5 e Css3
NelsonSalvador
*/

/*  Css Reset */
*{
    margin:0;
    border: 0;
    padding: 0;

}
/* Importação (Google Fontes) */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
     font-family: "Open Sans", sans-serif;
     font-size: 1em; 
      

}

/* Layout */


.Container{
    margin:0 auto;
    background-color: #dcdcdc; 

}

.Flex{
    display: flex;
    justify-content: space-between;
    background-color: #a9a9a9;

}

/* Topo do Site */

#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;

}
/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



/* cabeçalho */
header {
    height: 60;

}
/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px){
body{
    background-color: #0ff;
}

/* Layout */

.Container{
    max-width:540px;
}

}
/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px){
body{
    background-color: #ff0;
}

.Container{
    max-width:720px;
}
}
/* Smartphone Lanscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px){
body{
    background-color: #f60;
}
/* Layout */
.Container{
    max-width:960px;
}
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px){
body{
    background-color: #f00;
}
/* layout */
.Container{
    max-width:1140px;
}
}