/*
Folha de estilo site one page HtML5 e Css3
NelsonSalvador
*/

/*  Css Reset */
*{
    margin:0;
    border: 0;
    padding: 0;

}

/* Importação (Google Fontes) */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
     font-family: "Open Sans", sans-serif;
     font-size: 1em; 
}

/* Layout */


.Container{
    margin:0 auto;
    

}

.Flex{
    display: flex;
    justify-content: space-between;
   

}
.Botao{
        text-decoration: none;
        color: #fff;
        font-size: 700;
        background-color:#c00000;
        padding: 10px 40px;
        border: 2px solid #ffff;
        border-radius: 25px;
}
/* Topo do Site */

#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;

}
/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



/* cabeçalho */
header {
    height: 60;

}

#logo img{
    width: 128px;
    height:128px;
}

#check{
        display: none;
}

label{
    font-size: 3em;
    padding-right:15px;
}

nav ul{
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

#check:checked ~ ul{
    right:0;

}
nav ul li{

        padding:20px;
        border-bottom: 1px solid #a9a9a9;
}

nav ul li a{
    text-decoration: none;
    color:aliceblue
}   

/* Destaque */

main{
    height: 75vh;
    background: url(img/banner.jpg);
    background-size: cover;
    color: #fff;
}

main h1{
    font-size: 2.5em;


}

main h2{
    font-size: 1em;
    margin: 20px 0px 50px 0px;

}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px){


/* Layout */

.Container{
    max-width:540px;
}

}
/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px){


.Container{
    max-width:720px;
}
}
/* Smartphone Lanscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px){

/* Layout */
.Container{
    max-width:960px;
}
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px){

/* layout */
.Container{
    max-width:1140px;
}

/* Cabeçalho */

header{
    height: 170px;
    
}

#logo img{
    width: 140;
    height: 110px;
    margin-top: 100px;
}

label{
    display: none;

}
nav ul{
    position: static;
    height: auto;
    background-color: transparent;
    margin-top:50px

}
nav ul li{

    float:left;
    border: 0;
    

}
nav ul li a{
    color:#343538;

}
nav ul li a:hover{
    color:#c00000;
}
}

